@media only screen and (max-width: 767px) {
    
    section.skills {
        height: 100%;
    }
    .hero {
        height: 60%;
        margin-bottom: 1rem;
        padding: 5vh 0 0 5%;
    }
    header {
        background: linear-gradient(to right, rgba(255, 255, 255, .95), rgba(255, 255, 255, .8)), url("../resources/img/skovhugger-cover.png");
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav {
        width: 100vw;
    }
    nav ul {
        display: none;
    }

    .read-more {
        display: none;
    }
    .hero-credit {
        display: block;
        margin-top: -3rem;
    }
    .hero-credit p {
        font-size: 1.5rem;
        line-height: 1rem;
        display: block;
    }
    .info-card h3 {
        font-size: 200%;
    }
    .ul-skills ul li {
        font-size: 200%;
        line-height: 150%;
    }
    .ul-skills p {
        font-size: 200%;
        line-height: 125%;
    }
    .info-card {
        width: 90vw;
        height: 30vh;
    }
}
